@tailwind base;
*::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(95, 93, 93, 0.2);
  border-radius: 14px;
  border: 3px solid transparent;
}

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

motion.div {
  width: 100%;
}

.textContainer {
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body {
  font-family: 'Roboto', sans-serif;
}

.clip-path-star {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.heart-shape {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  transform: rotate(45deg);
}

.heart-shape::before,
.heart-shape::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
}

.heart-shape::before {
  top: -17px;
  left: 0;
}

.heart-shape::after {
  top: 0;
  left: -10px;
}

.heart-button:active .heart-shape,
.heart-button:active .heart-shape::before,
.heart-button:active .heart-shape::after {
  background-color: black;
  border-color: black;
}
.row--transport {
  background-color: #b1b1b1;
  width: 100%;
  height: 2px;
  top: 47%;
  position: relative;
}
.row--transport::after,
.row--transport::before {
  background: #b1b1b1;
  border-radius: 1px;
  width: 8px;
  height: 8px;
  z-index: 1;
  content: '';
  position: absolute;
  top: -3px;
}
.row--transport:after {
  right: -3.5px;
}
.iconTour {
  /* transform: scale(1.5); */
}
.tour:nth-child(n + 5) {
  display: none;
}
.tour-into:nth-child(n + 4) {
  display: none;
}
.hotel-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
